@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #111;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
}

header .logo {
  position: relative;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;

}

header .toggle {
  max-width: 30px;
  cursor: pointer;
}

header .toggle img {
  max-width: 100%;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background: #DC143C;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
  pointer-events: none;
}

.banner .kotak-kata {
  position: relative;
  max-width: 550px;
  z-index: 2;
}

.banner .kotak-kata h2 {
  color: #fff;
  font-size: 2em;
}

.banner .kotak-kata p {
  color: #fff;
  font-size: 1em;
  margin: 5px 0 25px;
}

.banner .kotak-kata a {
  position: relative;
  display: inline-block;
  background: #fff;
  color: #111;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 50px;
  }

  .banner .kotak-kata a:hover {
    background: #7FFFD4;
    transition: .3s ease;
  }

  .banner .kotak-video {
    position: relative;
    background: #fff;
    margin-left: 40px;
    width: 100%;
    height: 400px;
    z-index: 1;
  }

  .banner .kotak-video video {
    opacity: 1;
  }

  .banner .socialmed {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner .socialmed li {
    list-style: none;
  }

  .banner .socialmed li a {
    display: inline-block;
    margin-right: 15px;
  }

  @media (max-width: 991px) {
    header {
      padding: 20px 50px;
    }
    .banner {
      padding: 150px 50px 0;
      flex-direction: column;
    }
    .banner::before {
      display: none;
    }
    .banner .kotak-kata {
      max-width: 100%;
    }
    .banner .kotak-kata h2 {
      font-size: 2.5em;
    }
    .banner .kotak-video {
      width: 100%;
      height: 200px;
      margin: 40px 0 100px;
    }
    .banner .socialmed {
      left: 50px;
    }
}
